#mainDiv{
    font-family: serif;
    font-size: 12px;
    color: darkgrey;
}

.zoom{
    cursor: move;
    fill: none;
    pointer-events: all;
}

line {
    border : 1px solid black; 
}

<<<<<<< HEAD
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
=======
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
>>>>>>> f93db8e0ff73bfd6c3a91dc0baae383821134e88
}